.about-wrapper {
    display: flex;
    width: 100%;
}

.about-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.eli-outside {
    margin-right: 1rem;
}

.text-article {
    width: 70%;
}

.text-p {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.eli-image {
    width: 20rem;
    height: 23rem;
}

@media (max-width: 940px) {
    .about-wrapper {
        margin: 0 auto;
    }
    .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-article {
        width: 90%;
    }
}