footer {
    clear: both;
    display: block;
    /* height: 200px; */
    width: 100%;
    /* margin-top: -200px; */
    max-width: 960px;
    margin: 0 auto;
    /* padding-left: 3rem; */
}

.icon-set {
    display: flex;
    right: 0;
    margin: 5rem auto;
    width: 16%;
    bottom: 0;
}

.icons {
    font-size: 1.5rem;
    padding-left: 10px;
    right: 0;
}